p, a {
    color: $primaryTextColor;
    word-break: break-all;
}

.chat-input-container {
    position: relative;
}

.chat-input {
    border: {
        top: none;
        left: none;
        right: none;
        radius: 0;
    }
    box-shadow: none;
    transition: 0.25s all ease;
    &:focus {
        border: {
            top: none;
            left: none;
            right: none;
        }
        box-shadow: none;
    }
}

.btn-round {
    padding: 1.5rem;
    border-radius: 50%;
    margin-top: -0.8rem;
    position: absolute;
    background-color: $darkPrimaryColor;
    transition: 0.25s all ease;
    border: none;
    &:hover {
        @include BoxShadowHelper(3);
        background-color: $accentColor;
    }
}

.container-fluid {
    ul {
        padding-left: 0;
    }
}

.date-sent {
    color: $secondaryTextColor;
}
.chat-thumb {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    &:after {
        content: attr(data-name);
        @include center-absolute;
        text-align: center;
        width: 50px;
        background-color: #333;
        color: #FFF;
        overflow: hidden;
        transition: 0.25s all ease;
        opacity: 0;
    }
}
