<div ng-controller="ChatCtrl" class="container">
    <div class="row">
        <form ng-submit="addMessage()">
            <div class="col-xs-10">
                <input placeholder="Enter a message and see it magically appear..." ng-model="newMessage" class="form-control" />
            </div>
            <div class="col-xs-2">
                <input type="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
    <br />

    <div class="container" ng-show="editedMessage">
        <form ng-submit="submitEdit()">
            <input class="form-control" ng-model="editedMessage.content" />
        </form>
    </div>

    <ul>
        <div ng-repeat="message in messages | orderBy: 'sent':true" class="row">
            <div class="col-xs-1">
                <p>{{message.name}}</p>
            </div>
            <div class="col-xs-7">
                <p ng-bind-html="message.message | linky:'_blank'"></p>
            </div>
            <div class="col-xs-2">
                <p>{{message.sent | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
            <div class="col-xs-2 btn-group">
                <button class="btn btn-default btn-xs" ng-click="editMessage(message)" ng-show="isAdmin()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-default btn-xs" ng-click="deleteMessage(message)" ng-show="isAdmin()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
        </div>
    </ul>
</div>
