.navbar-default {
    background-color: $darkPrimaryColor;
    color: $primaryTextColor;
    .navbar-brand {
        color: $primaryTextColor;
    }
    .navbar-nav > li > a {
        color: $primaryTextColor;
    }
}

.navbar-brand {
    width: 17rem;
    text-align: right;
    font-family: "Lobster", open-sans;
    background: {
        image: url('/assets/images/banana.svg');
        position: center left;
        size: contain;
        repeat: no-repeat;
    }
}
