<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="!isLoggedIn()">
    <div class="container">
        <h3>You'll have to log in to do anything to be honest.</h3>
    </div>
</div>
<div ng-if="isLoggedIn()">
    <div class="container">
        <h3>Welcome, {{::getCurrentUser().name}}!</h3>
    </div>


    <div class="container">
        <div class="panel">
            <div class="panel-body">
                <div ng-repeat="room in rooms" class="row">
                    <div class="col-xs-4">
                        <a ng-href="/room/{{room._id}}">{{room.name}}</a>
                    </div>
                    <div class="col-xs-6">
                        <p>{{room.info}}</p>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-default btn-xs" ng-if="isAdmin()"><i class="glyphicon glyphicon-trash" ng-click="deleteRoom(room)"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="isAdmin()">
    <div class="container">
        <div class="text-center">
            <button class="btn btn-success" ng-click="open('lg')"><i class="glyphicon glyphicon-plus-sign"></i> Create Room</button>
        </div>
    </div>
</div>
